/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}


/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

#start {
  display: block;
  margin-top: 10px;
  margin-left: 10%; 
  width: 15%;
  height: 50px;
}

.hide {
  display: none;
}

.show {
  display: table-row;
}

#colors {
  display: flex;
  justify-content: space-between;
}

input {
  display: inline-block;
  height: 30px;
}

#game {
  width: 30%;
}
